openapi: 3.1.0
info:
  title: Melt API
  version: 2.1.0
  description: マークダウンエディタ Melt で利用する REST API
  x-logo:
    url: 'https://qazsato.github.io/melt-api/logo.png'
  contact: {}
servers:
  - description: ''
    url: 'https://api.melt.qazsato.com'
paths:
  /images:
    post:
      summary: Upload image
      operationId: post-images
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: ファイル名
                  url:
                    type: string
                    description: 画像のURL
                required:
                  - name
                  - url
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: 画像をストレージにアップロードする
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: ファイル名
                attachment:
                  type: string
                  description: ファイルデータを Base64 エンコードした文字列
                type:
                  type: string
                  description: Content-Type
              required:
                - key
                - attachment
                - type
            examples: {}
      security:
        - api_key: []
      tags:
        - images
  /sites/meta:
    get:
      summary: Get site metadata
      tags:
        - sites
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Webサイトのタイトル
                required:
                  - title
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: get-sites-meta
      description: Webサイトのメタデータを取得する
      parameters:
        - schema:
            type: string
          in: query
          name: url
          required: true
          description: WebサイトのURL
      security:
        - api_key: []
    parameters: []
components:
  schemas:
    Error:
      title: Error
      type: object
      properties:
        error:
          type: object
          required:
            - message
          properties:
            message:
              type: string
              description: エラーメッセージ
      required:
        - error
  securitySchemes:
    api_key:
      name: api_key
      type: apiKey
      in: query
security:
  - API Key: []
