{
  "openapi": "3.1.0",
  "info": {
    "title": "Melt API",
    "version": "2.0.2",
    "description": "Melt で利用するための REST API"
  },
  "servers": [
    {
      "description": "",
      "url": "https://api.melt.qazsato.com"
    }
  ],
  "paths": {
    "/images": {
      "post": {
        "summary": "",
        "operationId": "post-images",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "ファイル名"
                    },
                    "url": {
                      "type": "string",
                      "description": "画像のURL"
                    }
                  },
                  "required": [
                    "name",
                    "url"
                  ]
                }
              }
            }
          }
        },
        "description": "画像をS3にアップロードする",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "ファイル名"
                  },
                  "attachment": {
                    "type": "string",
                    "description": "ファイルデータを Base64 エンコードした文字列"
                  },
                  "type": {
                    "type": "string",
                    "description": "Content-Type"
                  }
                },
                "required": [
                  "key",
                  "attachment"
                ]
              },
              "examples": {}
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/sites/meta": {
      "get": {
        "summary": "",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "Webサイトのタイトル"
                    }
                  },
                  "required": [
                    "title"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-sites-meta",
        "description": "Webサイトのメタデータを取得する",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "url",
            "required": true,
            "description": "WebサイトのURL"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "api_key": {
        "name": "api_key",
        "type": "apiKey",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "API Key": []
    }
  ]
}